<table class="sarlaft-tabla">
  <caption class="sarlaft-caption">Resultado de la validación SARLAFT</caption>
  <tbody>
    <tr class="sarlaft-fila">
      <th scope="row" class="sarlaft-clave">FECHA DE EXPEDICIÓN</th>
      <td class="sarlaft-valor">{{ resultado.fechaExpedicion }}</td>
    </tr>
    <tr class="sarlaft-fila">
      <th scope="row" class="sarlaft-clave">ESTADO</th>
      <td class="sarlaft-valor sarlaft-valor-estado">{{ resultado.estado }}</td>
    </tr>
    <tr class="sarlaft-fila">
      <th scope="row" class="sarlaft-clave">VIGENCIA</th>
      <td class="sarlaft-valor">{{ resultado.vigencia }}</td>
    </tr>
  </tbody>
</table>
